@import "variables.scss";
@import "mixin.scss";



body {

	background-image: linear-gradient(to bottom, #b2b2b5, #9f9ea8, #8c8b9b, #7b788d, #6a6580);
	min-height: 100vh;
	display: flex;
  	flex-direction: column;

	header {
		margin-bottom: 3%;

		nav li {
			display: $ib;
			width: 15%;
			font-size: 2rem;

			a {
				color: rgb(154, 152, 251);
				text-decoration: none;
			}
		}

		
	}


	footer {
		text-align: center;
		
		margin-top: auto;

		ul li {
	
			display: $ib;
			width: 70px;

		}

	}
	
	
	.colorNav {
		background-color: rgba(33, 23, 23, 0.7);
	}

	.ctn {
		color: white;
		text-decoration: none;
	}
	
	
	main {
		section {
			div {
				section {
					div {
						article {
							img {
								border-radius: map-get($border, br);
								border-radius: $br
							}
						}
					}
				}
			a{
				img {
					border-radius: map-get($border, br);
					border-radius: $br
				}
			}
			}
		}
	}
	
}


