@import "variables.scss";
@import "mixin.scss";



body {
	background-color: rgba(182, 178, 178, 0.7);

	footer {
		text-align: center;

		li {
	
			display: $ib;
			width: 5%;
		}

	}

	.sectionizq {
		width: 20%;
		display: $ib;
		height: 100%;
		vertical-align: middle;
	}
	
	.sectionder {
		width: 79%;
		display: $ib;
		height: 100%;
		vertical-align: middle;
	}
	
	
	nav li {
		display: $ib;
		width: 15%;
		font-size: 2rem;
	}
	
	.colorNav {
		background-color: rgba(113, 90, 90, 0.7);
	}
	
	
	main {
		section {
			div {
				section {
					div {
						article {
							img {
								border-radius: map-get($border, br);
								border-radius: $br
							}
						}
					}
				}
			}
		}
	}
	
}


