@import 'mixin.scss';


img{
	width:20%;
	border: black 3px;
}

.efect {
	font-size: 1.4rem;
	animation-name: efect;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-timing-function: ease-in-out;
	
}

.efectt {
	font-size: 1.4rem;
	animation-name: efect;
	animation-duration: 1s;
	animation-delay: 1.2s;
	animation-timing-function: ease-in-out;
	
}

.imgerr{
	width:50%;
	border-radius: 3em;
}

.btc{
	border-radius: 0.5em;
}

.btcb{
	border-radius: 0.5em;
	padding: 0.3rem;
}

.fotos {

	@include fotos(90%)

}

article img{
	width:50%;
	border: black 3px;
	transition: all .2s ease-in-out;

}
article img:hover { 
	transform: scale(1.1); 
}

h4 {
	margin-top: 30px;
	
}


@keyframes efect {
	0%{ transform: scale(1);}
	15%{ transform: scale(1.03);}
	25%{ transform: scale(1.05);}
	35%{ transform: scale(1.07);}
	45%{ transform: scale(1.09);}
	50%{ transform: scale(1.1);}
	55%{ transform: scale(1.09);}
	65%{ transform: scale(1.07);}
	75%{ transform: scale(1.05);}
	85%{ transform: scale(1.03);}
	100%{ transform: scale(1);}

}