@import 'mixin.scss';


img{
	width:20%;
	border: black 3px;
}

.efect {
	animation-name: efect;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
}

.imgerr{
	width:50%;
	border-radius: 3em;
}

.fotos {

	@include fotos(90%)

}

article img{
	width:50%;
	border: black 3px;
	transition: all .2s ease-in-out;

}
article img:hover { 
	transform: scale(1.1); 
}

h4 {
	margin-top: 30px;
}

@keyframes efect {
	0%{ font-size: 1rem;}
	25%{ font-size: 1.25rem;}
	50%{ font-size: 1.5rem;}
	75%{ font-size: 1.25rem;}
	100%{ font-size: 1rem;}

}