<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<!-- linkear nuestro css -->
	<link rel="stylesheet" href="../css/estilo.css">

</head>

<body>
	<!-- inicio encabezado -->
	<header>
		

			<nav>
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="./About.html">Sobre mi</a></li>
					<li><a href="./Presentacion.html">Presentacion</a></li>
					<li><a href="./Fotos.html">Fotos</a></li>
					<li><a href="./Contacto.html">Contacto</a></li>
				</ul>
			</nav>
		
	</header>
	
	<!-- fin encabezado -->
	<div class="mitad">
		<h1>
			Sobre mi
		</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam libero laborum perspiciatis eaque beatae blanditiis minus odio unde cupiditate. Unde harum autem beatae. Voluptas vero laboriosam, nisi eaque autem ab?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur quis, placeat laudantium temporibus cum praesentium molestiae reiciendis, impedit ipsam pariatur quibusdam sit repudiandae ipsa? Ea nobis voluptates eos consequatur?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae beatae harum repudiandae a, numquam amet reprehenderit sed illum fugiat, atque quam unde doloremque quaerat, cum molestiae doloribus ipsa veniam expedita!
		</p>
	</div>

	<!-- inicio footer -->
	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/hernangonzalezrossi/" target="_blank">Linkedin</a></li>
			<li><a href="https://twitter.com/hgr79" target="_blank">Twitter</a></li>
			<li><a href="https://github.com/lucashrossi" target="_blank">Github</a></li>
			<li><a href="mailto:hernangonzalezrossi@yahoo.com" target="_blank">Email</a></li>
		</ul>
	</footer>
	<!-- fin footer -->
</body>

</html>