<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<!-- linkear nuestro css -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../scss/estilos.css">
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
	<!-- inicio encabezado -->
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light colorNav">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#"></a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between w-100">
				  <li class="nav-item">
					<a href="../index.html">Home</a>
				  </li>
				  <li class="nav-item">
					<a href="./about.html">Sobre mi</a>
				  </li>
				  <li class="nav-item">
					<a href="./presentacion.html">Presentacion</a>
				  </li>
				  <li class="nav-item">
					<a href="./fotos.html">Fotos</a>
				  </li>
				  <li class="nav-item">
					<a href="./contacto.html">Contacto</a>
				  </li>
				</ul>
			  </div>
			</div>
		</nav>
	</header>
	
	<!-- fin encabezado -->
	<main class="container-fluid">
		
			<section class="row mt-5 mb-5">
				
				<p class="efect">
					🎯 Mi objetivo es obtener un amplio conocimiento de las diferentes soluciones digitales que una empresa puede aprovechar para automatizar sus procesos.
				</p>
				<p class="efect">
					🧐 Encuentro realmente interesante el análisis del comportamiento de los usuarios.
				</p>
				<p class="efect">
					💻 Me gusta diseñar y desarrollar aplicaciones web.
				</p>
				
			</section>	

			<section class="row mt-5 mb-5 justify-content-center">
				<div class="col-sm-6">
					<img class="fotos" src="../assets/img/2023.png" alt="Playa">
				</div>
			</section>
			
			<section class="row mt-5 mb-5">
				<p class="efectt">
					Por otro lado, el artístico, me gusta capturar momentos únicos tanto en fotos como video por los distintos lugares que voy conociendo.
				</p>
				<p class="efectt">
					Los temas que mas me interesan son los bosques, ciudades y naturaleza.
				</p>
				<p class="efectt">
					Lo mas difícil es encontrar el momento justo, el lugar y posición adecuada o la combinación de todo lo anterior que resulte en una única situación irrepetible...
				</p>
			</section>
			
		
	</main>

	<!-- inicio footer -->
	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/hernangonzalezrossi/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
			<li><a href="https://github.com/lucashrossi" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
			<li><a href="mailto:hernangonzalezrossi@yahoo.com" target="_blank"><i class="fa fa-envelope fa-lg"></i></a></li>
		</ul>
	</footer>
	<!-- fin footer -->
</body>

</html>