<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<!-- linkear nuestro css -->
	<link rel="stylesheet" href="../css/estilo.css">

</head>

<body>
	<!-- inicio encabezado -->
	<header>
		

			<nav>
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="./About.html">Sobre mi</a></li>
					<li><a href="./Presentacion.html">Presentacion</a></li>
					<li><a href="./Fotos.html">Fotos</a></li>
					<li><a href="./Contacto.html">Contacto</a></li>
				</ul>
			</nav>
		
	</header>
	
	<!-- fin encabezado -->
	<div>
		<h1>
			Fotos
		</h1>
		<section>

			<img class="fotos" src="../assets/img/05.jpg" alt="">

			<img class="fotos" src="../assets/img/05.jpg" alt="">

			<img class="fotos" src="../assets/img/05.jpg" alt="">

			<img class="fotos" src="../assets/img/05.jpg" alt="">
	
		</section>
	</div>

	<!-- inicio footer -->
	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/hernangonzalezrossi/" target="_blank">Linkedin</a></li>
			<li><a href="https://twitter.com/hgr79" target="_blank">Twitter</a></li>
			<li><a href="https://github.com/lucashrossi" target="_blank">Github</a></li>
			<li><a href="mailto:hernangonzalezrossi@yahoo.com" target="_blank">Email</a></li>
		</ul>
	</footer>
	<!-- fin footer -->
</body>

</html>